<!DOCTYPE html>

<html> <head>
		<meta charset="UTF-8">
		
		<title>Monitoring Status</title>
		<style>
			body {
				background-color: white;
			}
			h1 {
				color: black;
                        }

			h2 {
				color: blue;
				margin-left: 120px;
			}
		</style> 		
	</head>	
	<body>
		<h1>Test Page</h1>
			


<br>
<hr>
<h1>Snapshot</h1>
<img height = "200" width = "200" src="{{url_for('static',filename='test0.jpg')}}">
<img height = "200" width = "200" src="{{url_for('static',filename='test1.jpg')}}">
<img height = "200" width = "200" src="{{url_for('static',filename='test2.jpg')}}">
<img height = "200" width = "200" src="{{url_for('static',filename='test3.jpg')}}">

<br><br><br>
<hr>
<h1>Status Value</h1>
<p id="gas">{{gas}}</p> 
<p id="temperature">{{temperature}}</p> 
<p id="humidity">{{humidity}}</p> 
<p id="somebody">{{somebody}}</p> 

	</body>
</html>

